@model RoyalWeb.Models.Character

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CharacterName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CharacterName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Honor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Honor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reputation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reputation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Appearance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Appearance)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extrovertness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extrovertness)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intelligence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intelligence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sexuality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sexuality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alive)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CharacterId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
